.input{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
input{
    width: 200px;
    height: 24px;
    margin: 8px;
    outline: none;
    flex-basis: 200px;
}
.button{
    display: flex;
    justify-content: center;
}
.btn-population{
    border: none;
    padding: 12px;
}